.cartlink:hover{
    background-color: #b22222 !important;
}

.cartlink:hover>a {
    color: white !important;
}

.in-cart{
    color: black !important
}

.ui.button:hover{
    background-color: #b22222 !important;
    color: white !important;

}